/* @import "//at.alicdn.com/t/c/font_3765594_917rl776npk.css"; */

@font-face {
    font-family: 'Kaushan';
    src: url('../fonts/Kaushan_Script/KaushanScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'Nerko';
    src: url('../fonts/Nerko_One/NerkoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

#page-header #site-title {
    font-size: 4em;
}

#nav {
    font-size: 1.7em;
}

/* iconfont字体调整 */
.iconfont {
    font-family: "iconfont" !important;
    font-size: 1.4em !important;
    /* 可以定义图标大小 */
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

