/* 背景宇宙星光  */
#universe {
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}


/* #aside_content .card-widget,#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
    background: var(--dark_bg_color)
} */




/* [data-theme=dark] #recent-posts>.recent-post-item {
    background: rgba(25, 25, 25, 95%) !important;
}

[data-theme=dark] #aside-content>.card-widget.card-info {
    background: rgba(29, 30, 34, 0.95) !important;
}

[data-theme=dark] #aside-content .card-widget {
    background: rgba(25, 25, 25, 95%) !important;
} */

[data-theme=dark] #recent-posts>.recent-post-item,
[data-theme=dark] #aside-content>.card-widget.card-info,
[data-theme=dark] #aside-content .card-widget,
[data-theme="dark"] #page-header.nav-fixed > #nav,
[data-theme="dark"] #page-header.not-top-img > #nav {
    background: rgba(29, 30, 34, 0.95) !important;
}

/* [data-theme="dark"] #page-header.nav-fixed > #nav, [data-theme="dark"] #page-header.not-top-img > #nav {
    background: rgba(29, 30, 34, 0.95) !important;
} */

[data-theme=dark] .cardHover, 
[data-theme=dark] .error404 #error-wrap .error-content, 
[data-theme=dark] .layout > div:first-child:not(.recent-posts), 
[data-theme=dark] .layout > .recent-posts .pagination > :not(.space) {
    background: rgba(29, 30, 34, 0.95) !important;
}








